## importing libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Load the data

In [2]:
df=pd.read_csv(r"C:\Users\HP\Downloads\churn_dataset.csv")
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [5]:
del df['customerID']

In [6]:
df['TotalCharges']=df['TotalCharges'].apply(lambda x:x.replace(' ','0'))

In [7]:
df[['TotalCharges']]=df[['TotalCharges']].apply(pd.to_numeric)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [9]:
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

## identifying input and output variables

## the output variable is churn which is available in historical data

## it will come under supervised learning and classification task must be performed

## evaluation metric to be performed will be accuracy score

In [22]:
X=df[['gender','SeniorCitizen','Partner','Dependents','tenure','PhoneService','MultipleLines','InternetService',
'OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','MonthlyCharges' ,     
'TotalCharges']]
y=df['Churn']

In [23]:
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,No phone service,DSL,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Male,0,No,No,34,Yes,No,DSL,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50
2,Male,0,No,No,2,Yes,No,DSL,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,Male,0,No,No,45,No,No phone service,DSL,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65

In [24]:
y.head()

0     No
1     No
2    Yes
3     No
4    Yes
Name: Churn, dtype: object

## splitting the dataset into training and testing using 75:25 split

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=0)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(5282, 18) (5282,)
(1761, 18) (1761,)

In [26]:
X_train.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
3296,Female,0,No,No,24,Yes,No,DSL,No,Yes,No,No,No,Month-to-month,Yes,Credit card (automatic),49.30,1233.25
6397,Male,1,No,No,54,Yes,No,DSL,No,Yes,Yes,No,Yes,One year,No,Bank transfer (automatic),65.25,3529.95
6043,Male,0,No,No,3,No,No phone service,DSL,No,Yes,No,Yes,No,Month-to-month,Yes,Mailed check,40.15,130.75
5309,Female,0,Yes,No,61,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),20.25,1278.80
3000,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55

## separating categorical and numerical data in the train data

In [27]:
X_train_cat=X_train.select_dtypes(include=['object'])
X_train_cat

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
3296,Female,No,No,Yes,No,DSL,No,Yes,No,No,No,Month-to-month,Yes,Credit card (automatic)
6397,Male,No,No,Yes,No,DSL,No,Yes,Yes,No,Yes,One year,No,Bank transfer (automatic)
6043,Male,No,No,No,No phone service,DSL,No,Yes,No,Yes,No,Month-to-month,Yes,Mailed check
5309,Female,Yes,No,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic)
3000,Male,No,No,Yes,Yes,Fiber optic,No,No,No,Yes,No,Month-to-month,Yes,Electronic check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,Male,Yes,No,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check
3264,Female,No,Yes,Yes,No,Fiber optic,No,Yes,Yes,Yes,No,Month-to-month,Yes,Electronic check
1653,Male,Yes,No,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check
2607,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,Month-to-month,Yes,Electronic check
2732,Female,No,Yes,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Credit card (automatic)

In [28]:
X_train_num=X_train.select_dtypes(include=['int64','float64'])
X_train_num

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
3296              0      24           49.30       1233.25
6397              1      54           65.25       3529.95
6043              0       3           40.15        130.75
5309              0      61           20.25       1278.80
3000              0      12           84.45       1059.55
...             ...     ...             ...           ...
4931              0      15          103.45       1539.80
3264              0      10           91.10        964.35
1653              0      58           20.75       1185.95
2607              1       1           69.75         69.75
2732              0       4           20.40         94.50

[5282 rows x 4 columns]

In [29]:
X_train_num.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
3296              0      24           49.30       1233.25
6397              1      54           65.25       3529.95
6043              0       3           40.15        130.75
5309              0      61           20.25       1278.80
3000              0      12           84.45       1059.55

## rescaling the numerical data i.e applying standardization

In [30]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_num_transformed=pd.DataFrame(scaler.fit_transform(X_train_num),columns=X_train_num.columns,index=X_train_num.index)
X_train_num_transformed

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges
3296      -0.435476 -0.340191       -0.514314     -0.460284
6397       2.296336  0.883210        0.017840      0.556508
6043      -0.435476 -1.196572       -0.819594     -0.948382
5309      -0.435476  1.168670       -1.483535     -0.440119
3000      -0.435476 -0.829552        0.658427     -0.537185
...             ...       ...             ...           ...
4931      -0.435476 -0.707212        1.292341     -0.324569
3264      -0.435476 -0.911112        0.880297     -0.579332
1653      -0.435476  1.046330       -1.466853     -0.481225
2607       2.296336 -1.278132        0.167978     -0.975388
2732      -0.435476 -1.155792       -1.478531     -0.964431

[5282 rows x 4 columns]

In [31]:
X_train_num_transformed.describe()

       SeniorCitizen        tenure  MonthlyCharges  TotalCharges
count   5.282000e+03  5.282000e+03    5.282000e+03  5.282000e+03
mean   -5.258846e-16 -1.107701e-16   -3.584158e-16 -3.840169e-17
std     1.000095e+00  1.000095e+00    1.000095e+00  1.000095e+00
min    -4.354763e-01 -1.318912e+00   -1.550263e+00 -1.006268e+00
25%    -4.354763e-01 -9.518918e-01   -9.663949e-01 -8.258984e-01
50%    -4.354763e-01 -1.362912e-01    1.863278e-01 -3.879773e-01
75%    -4.354763e-01  9.239896e-01    8.369237e-01  6.627499e-01
max     2.296336e+00  1.617250e+00    1.799472e+00  2.838659e+00

In [32]:
print("Number of Numerical Features:", scaler.n_features_in_)
print("Mean of each column:", scaler.mean_)
print("Std of each column:", np.sqrt(scaler.var_))

Number of Numerical Features: 4
Mean of each column: [1.59409315e-01 3.23421053e+01 6.47152878e+01 2.27292614e+03]
Std of each column: [3.66057352e-01 2.45218061e+01 2.99725187e+01 2.25876892e+03]

## categorical train data

In [33]:
X_train_cat['gender'].value_counts(normalize=True)

Female    0.502272
Male      0.497728
Name: gender, dtype: float64

In [34]:
X_train_cat['Partner'].value_counts(normalize=True)

No     0.515524
Yes    0.484476
Name: Partner, dtype: float64

In [35]:
X_train_cat['Dependents'].value_counts(normalize=True)

No     0.698788
Yes    0.301212
Name: Dependents, dtype: float64

In [36]:
X_train_cat['PhoneService'].value_counts(normalize=True)

Yes    0.904014
No     0.095986
Name: PhoneService, dtype: float64

In [37]:
X_train_cat['MultipleLines'].value_counts(normalize=True)

No                  0.482772
Yes                 0.421242
No phone service    0.095986
Name: MultipleLines, dtype: float64

In [38]:
X_train_cat['InternetService'].value_counts(normalize=True)

Fiber optic    0.439606
DSL            0.343809
No             0.216585
Name: InternetService, dtype: float64

In [39]:
X_train_cat['OnlineBackup'].value_counts(normalize=True)

No                     0.439228
Yes                    0.344188
No internet service    0.216585
Name: OnlineBackup, dtype: float64

In [40]:
X_train_cat['DeviceProtection'].value_counts(normalize=True)

No                     0.441499
Yes                    0.341916
No internet service    0.216585
Name: DeviceProtection, dtype: float64

In [41]:
X_train_cat['TechSupport'].value_counts(normalize=True)

No                     0.498107
Yes                    0.285309
No internet service    0.216585
Name: TechSupport, dtype: float64

In [42]:
X_train_cat['StreamingTV'].value_counts(normalize=True)

No                     0.400606
Yes                    0.382810
No internet service    0.216585
Name: StreamingTV, dtype: float64

In [43]:
X_train_cat['StreamingMovies'].value_counts(normalize=True)

No                     0.397009
Yes                    0.386407
No internet service    0.216585
Name: StreamingMovies, dtype: float64

In [44]:
X_train_cat['Contract'].value_counts(normalize=True)

Month-to-month    0.553200
Two year          0.235706
One year          0.211094
Name: Contract, dtype: float64

In [45]:
X_train_cat['PaperlessBilling'].value_counts(normalize=True)

Yes    0.597501
No     0.402499
Name: PaperlessBilling, dtype: float64

In [46]:
X_train_cat['PaymentMethod'].value_counts(normalize=True)

Electronic check             0.334532
Mailed check                 0.230973
Bank transfer (automatic)    0.219992
Credit card (automatic)      0.214502
Name: PaymentMethod, dtype: float64

## applying one hot encoding on categorical train data as data is of nominal

In [47]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first', sparse=False)

# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

X_train_cat_ohe = pd.DataFrame(encoder.fit_transform(X_train_cat), 
                               columns=encoder.get_feature_names_out(X_train_cat.columns), 
                               index = X_train_cat.index)

X_train_cat_ohe.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineBackup_No internet service,OnlineBackup_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
3296,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
6397,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
6043,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
5309,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3000,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

## concating the rescaled and encoded dataframes

In [48]:
X_train_transformed = pd.concat([X_train_num_transformed, X_train_cat_ohe], axis=1)

X_train_transformed.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
3296,-0.435476,-0.340191,-0.514314,-0.460284,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
6397,2.296336,0.883210,0.017840,0.556508,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
6043,-0.435476,-1.196572,-0.819594,-0.948382,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
5309,-0.435476,1.168670,-1.483535,-0.440119,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3000,-0.435476,-0.829552,0.658427,-0.537185,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

## preparing the test data

In [49]:
X_test.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
2200,Female,0,No,No,19,Yes,No,DSL,Yes,No,No,Yes,No,One year,No,Electronic check,58.20,1045.25
4627,Male,0,No,No,60,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,One year,Yes,Credit card (automatic),116.60,7049.50
3225,Female,0,No,No,13,Yes,No,DSL,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,71.95,923.85
2828,Male,0,No,No,1,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.45,20.45
3768,Female,0,Yes,No,55,Yes,Yes,Fiber optic,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),77.75,4266.40

In [50]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1761 entries, 2200 to 450
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            1761 non-null   object
 1   SeniorCitizen     1761 non-null   int64
 2   Partner           1761 non-null   object
 3   Dependents        1761 non-null   object
 4   tenure            1761 non-null   int64
 5   PhoneService      1761 non-null   object
 6   MultipleLines     1761 non-null   object
 7   InternetService   1761 non-null   object
 8   OnlineBackup      1761 non-null   object
 9   DeviceProtection  1761 non-null   object
 10  TechSupport       1761 non-null   object
 11  StreamingTV       1761 non-null   object
 12  StreamingMovies   1761 non-null   object
 13  Contract          1761 non-null   object
 14  PaperlessBilling  1761 non-null   object
 15  PaymentMethod     1761 non-null   object
 16  MonthlyCharges    1761 non-null   float64
 17  TotalCharges      1761 non-null   float64
dtypes: float64(2), int64(2), object(14)
memory usage: 261.4+ KB

## separating the categorical and numerical columns of test data

In [51]:
X_test_cat=X_test.select_dtypes(include=['object'])
X_test_cat

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
2200,Female,No,No,Yes,No,DSL,Yes,No,No,Yes,No,One year,No,Electronic check
4627,Male,No,No,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,One year,Yes,Credit card (automatic)
3225,Female,No,No,Yes,No,DSL,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check
2828,Male,No,No,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check
3768,Female,Yes,No,Yes,Yes,Fiber optic,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3184,Female,Yes,No,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic)
2551,Female,No,No,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic)
5735,Female,Yes,Yes,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check
5096,Male,Yes,Yes,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Two year,No,Bank transfer (automatic)
450,Female,No,No,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check

In [52]:
X_test_num=X_test.select_dtypes(include=['int64','float64'])
X_test_num

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
2200              0      19           58.20       1045.25
4627              0      60          116.60       7049.50
3225              0      13           71.95        923.85
2828              0       1           20.45         20.45
3768              0      55           77.75       4266.40
...             ...     ...             ...           ...
3184              0      71           83.30       5894.50
2551              0      12           19.45        227.45
5735              0      48           20.00        935.90
5096              0      71           86.85       6263.80
450               0      64           24.70       1642.75

[1761 rows x 4 columns]

## applying one hot encoding on categorical test data

In [53]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first', sparse=False)

# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

X_test_cat_ohe = pd.DataFrame(encoder.fit_transform(X_test_cat), 
                               columns=encoder.get_feature_names_out(X_test_cat.columns), 
                               index = X_test_cat.index)

X_test_cat_ohe.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineBackup_No internet service,OnlineBackup_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
2200,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4627,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
3225,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2828,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3768,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [54]:
X_test_num_transformed = pd.DataFrame(scaler.transform(X_test_num), 
                                   columns = X_test_num.columns, 
                                   index = X_test_num.index)

X_test_num_transformed.head()

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges
2200      -0.435476 -0.544091       -0.217375     -0.543516
4627      -0.435476  1.127890        1.731076      2.114680
3225      -0.435476 -0.788772        0.241378     -0.597262
2828      -0.435476 -1.278132       -1.476862     -0.997214
3768      -0.435476  0.923990        0.434889      0.882549

## concating the scaled and encoded dataframes

In [55]:
X_test_transformed = pd.concat([X_test_num_transformed, X_test_cat_ohe], axis=1)

X_test_transformed.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
2200,-0.435476,-0.544091,-0.217375,-0.543516,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4627,-0.435476,1.127890,1.731076,2.114680,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
3225,-0.435476,-0.788772,0.241378,-0.597262,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2828,-0.435476,-1.278132,-1.476862,-0.997214,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3768,-0.435476,0.923990,0.434889,0.882549,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

## logistic regression

In [56]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train_transformed, y_train)

LogisticRegression()

In [57]:
y_test_pred = classifier.predict(X_test_transformed)

In [58]:
from sklearn import metrics

lg=metrics.accuracy_score(y_test, y_test_pred)
lg

0.7967064168086314

## KNN classifier

In [59]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(X_train_transformed, y_train)

y_test_pred = classifier.predict(X_test_transformed)

knn=metrics.accuracy_score(y_test, y_test_pred)
knn

0.7490062464508802

## Decision Tree classifier

In [60]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train_transformed, y_train)

y_test_pred = classifier.predict(X_test_transformed)

dt=metrics.accuracy_score(y_test, y_test_pred)
dt

0.7410562180579217

## Random Forest Classifier

In [61]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train_transformed, y_train)

y_test_pred = classifier.predict(X_test_transformed)

rt=metrics.accuracy_score(y_test, y_test_pred)
rt

0.7847813742191937

## GBDT Classifier

In [62]:
from sklearn.ensemble import GradientBoostingClassifier
classifier = GradientBoostingClassifier()
classifier.fit(X_train_transformed, y_train)
y_test_pred = classifier.predict(X_test_transformed)
gbdt=metrics.accuracy_score(y_test, y_test_pred)
gbdt

0.7847813742191937

## Support Vector Classifier

In [63]:
from sklearn.svm import SVC
classifier = SVC()
classifier.fit(X_train_transformed, y_train)

SVC()

In [64]:
y_test_pred = classifier.predict(X_test_transformed)

In [65]:
sv=metrics.accuracy_score(y_test, y_test_pred)
sv

0.7853492333901193

## Gaussian NB Classifier

In [66]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier.fit(X_train_transformed,y_train)
y_test_pred = classifier.predict(X_test_transformed)
nb=metrics.accuracy_score(y_test, y_test_pred)
nb

0.6740488358886996

## dataframe

In [67]:
rows=[['Logistic Regression',lg],['SVC',sv],['DT classifier',dt],['KNN classifier',knn],['GaussianNB',nb],['Random forest Classifier',rt],['Gradient Boosting classifier',gbdt]]

df1=pd.DataFrame(data=rows,columns=['TYPE OF CLASSIFIER','Accuracy_Score'])

df1

             TYPE OF CLASSIFIER  Accuracy_Score
0           Logistic Regression        0.796706
1                           SVC        0.785349
2                 DT classifier        0.741056
3                KNN classifier        0.749006
4                    GaussianNB        0.674049
5      Random forest Classifier        0.784781
6  Gradient Boosting classifier        0.784781

## observation

## Logistic Regression is the best algorithm as it provides the highest accuracy in predicting the churn prediction